
.main
{
    height: calc(100vh - 10px);
    width: 100%;
    .content{
        padding: 10px;
        height: calc(100% - 85px);
        h3{
            padding: 0 5px;
            text-transform: uppercase;
        }
    }
}
.header{
    background:#3f51b5 ;   
    height: 50px;
    line-height: 50px;
    color: #fff;
    .logo{
        height: 32px;
        width: 32px;
        vertical-align: middle;
        padding: 5px 5px 10px 5px;
    }
}
footer{
    position: absolute;
    background:#3f51b5;
    color:#fff;   
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.mat-mdc-list-item-title{
    font-weight: 600;
}
.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent{
    --mdc-fab-container-color: #3f51b5;
}
.hidden{
    display: none;
}